body {
	margin: 0;
/*	background: #d2d2d2;*/
	background: #dfdfdf;
	font-family: Verdana, sans serif;
	}

#header {
	background: #174093;
	border-bottom: 1px solid #eee;

	padding: 0px;
	margin-top: -9px;
	height: 56px;
	position: relative;
	}


#status {
	position: fixed;
	top: 5px;
	left: 5px;
	border: 1px solid red;
	background: #000;
	color: #fff;
	width: 250px;
	font-size: 1em;
	}

.center_blocks_width {
	min-width: 400px;
	max-width: 1000px;
	width: 80%;
	margin:0 auto; /* TODO not IE */
	}

#work {
	height: 75%;
/*	border: 1px solid red;*/
	}
#editorContainer {
	margin: 20px;
	height: 50%;
	min-height: 150px;
/*	border: solid 1px #999;*/
	}
#editor {
	background: #fff !important;
	color: #000;
	display: block;
	width: 100%;
	height: 99%;
	overflow: auto;
	font-size: 1.2em;
	font-family: serif;
	resize: none;
	padding: 15px;
	border: 1px solid #7f9db9;
	}

#editor:focus {
	border: 2px solid #f1cb77;
	}

#previewContainer {
	margin: 20px;
	margin-bottom: 0px;
	min-height: 100px;
	}
#preview {
	height: 50px;
	}
.preview {
/*	background: #f3f1eb;*/
	background: #dddddd;
	overflow: auto;
	border: 1px solid #7f9db9;
	padding: 15px;
	cursor: default !important;
	}
#preview_modeContainer {
	padding: 20px;
	}

#docListContainer {
	margin: 20px;
	height: 70%;
	min-height: 300px;
	}
#docList {
	border: 1px solid #7f9db9;
	width: 100% !important;
	}

h3.ui {
	margin: 0;
	padding: 0 0 20px 0;
	font-size: 1.2em;
	float: left;
	}

#converterContainer {
	margin: 20px;
	min-height: 200px;
	}
.converterSource {
	min-height: 150px;
	max-height: 300px;
	overflow: auto;
	padding: 15px;
	border: 1px solid #ecb942;
	}

.converterResult, .converterResult:disabled {
	height: 300px;
	border: 1px solid #7f9db9;
	overflow: auto;
	padding: 15px;
	white-space: pre-wrap;
	width: 100%;
	color: #000;
	font-family: Verdana, sans serif;
	font-size: .9em;
	}
.button {
	padding: 5px 10px 5px 10px;
	margin: 15px 10px 15px 10px;
	}
#downloadify {
/*	border: 1px solid red;*/
	}

#converter_source_help {
	float: right;
	width: 500px;
	text-align: right;
	font-size: 1.1em;
	color: #333;
	}
.converter {
	clear: both;
	}
.hidden {
	display: none;
	}

.beingEdited > td:first-child {
	color: red;
	}

#content {
	text-align: center;
	}
#content > div {
	width: 400px;
	padding: 0 10px 10px 20px;
	position: absolute;
	top: 57px;
	right: 0px;
	background: #fff;
	font-size: 1.2em;
	color: #333;
	text-align: left;
	}
#content li {
	display: list-item !important;
	}
#content ul {
	list-style:circle !important;
	}
#tabs {
	margin-top: -32px;
	}

ul.tabNavigation a {
	background: url(../img/blue.png) no-repeat -420px 0;
	display: block;
	height: 30px;
	line-height: 30px;
	width: 134px;
	text-align: center;
	text-decoration: none;
	color: #333;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 1px;
	}
ul.tabNavigation a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: -420px -62px;
	cursor: default !important;
	color: black !important;
	}
ul.tabNavigation li {
	float: right;
	text-indent: 0;
	padding: 0;
	margin: 0 !important;
	list-style-image: none !important;
	}


ul.tabNavigation {
	list-style: none;
	margin: 0 !important;
	padding: 0;
	border-bottom: 1px solid #666;
	height: 30px;
	font-size: .9em;
	}


#tabs > div {
	padding: 15px 10px;
	border: 1px solid #999;
	border-top: 0;
	background-color: white;
	}




html, body {
	height: 100%;
	}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -1.5em;
	}
#footer, .push {
	text-align: center;
	height: 1.5em;
	font-size: .8em;
	}
#footer ul {
	list-style: none;
	}
#footer li {
	display: inline;
	margin: 0 10px 0 10px;
	}






